.container{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.logoHeader{
  width: 125px;
  height: 100px;
  cursor: pointer;
}

.logoHeader2{
  display: flex;
  align-items: center;
}



  