<app-form></app-form>
<div
  id="itemCart"
  style="
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  "
>
  <mat-card class="example-card" *ngFor="let item of this.dataService.listItem">
    <div class="imgItem">
      <img mat-card-image [src]="item.img" alt="Anything" 
        style="
          width: 100%;
          height: 100%;
          object-fit: cover;"
      />
    </div>
    <mat-card-content>
      <mat-card-title>Name: {{ item.name }}</mat-card-title>
      <p>
        {{ item.description }}
      </p>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Price: {{ item.price }}</p>
    </mat-card-content>
  </mat-card>
</div>
